body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Toastr */
#toast-container > .toast-success {
  background-color: #28a745;
  color: white;
}

#toast-container > .toast-error {
  background-color: #dc3545;
  color: white;
}

#toast-container > .toast-warning {
  background-color: #ffc107;
  color: black;
}

#toast-container > .toast-info {
  background-color: #17a2b8;
  color: white;
}

#toast-container.toast-top-right {
  top: 80px;
}

.bg-custom {
  background-color: #b9b9b9;
  min-height: 100vh;
}